@model Tele_Farming.Models.Specialist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Specialist</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contact_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contact_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bkash_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bkash_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.certificate_file_path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.certificate_file_path)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nid_file_path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nid_file_path)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.profile_picture_path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.profile_picture_path)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.is_approved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.is_approved)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.specialist_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
